# data science and numerical computing
numpy
scipy
scikit-learn

# natural language processing
spacy
nltk
editdistance

# Mechanical Turk
-e git+https://github.com/allenai/amti#egg=amti

annoy
allennlp